/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< DARK >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

:root {
    background-color: #FFFEFE;
    background-color: #FBF9FA;
    background-color: #F0F0F0;
    background-color: #fbfbfb;
    background-color: #C2C2C2;
    background-color: #A3A3A3;
    background-color: #858585;
    background-color: #666666;
    background-color: #4D4D4D;
    background-color: #333333;
    background-color: #1A1A1A;
    background-color: #0A0A0A;
    background-color: #000000;
}

:primay {
    background-color: #E6FBFF;
    background-color: #CCF7FE;
    background-color: #99EEFD;
    background-color: #66E6FC;
    background-color: #33DDFB;
    background-color: #00D5FA;
    background-color: #00A0BC;
    background-color: #006B7D;
    background-color: #00353F;
    background-color: #001519;
}

/* ========= primary ============== */

.dark .primary .dark {
    color: #560DE7;
}

.dark .primary .main {
    color: rgb(138, 12, 122);
    background: linear-gradient(90deg, rgba(147, 68, 221, 1) 0%, rgba(177, 46, 161, 1) 41%, rgba(122, 18, 133, 1) 100%);
}

.dark .primary .light {
    color: #9970E8;
}

/* ========= neutral - for fonts and headings ============== */
.dark .neutral .dark {
    color: #E0E0E0
}

.dark .neutral .main {
    color: #C2C2C2
}

.dark .neutral .mediumMain {
    color: #A3A3A3
}

.dark .neutral .medium {
    color: #858585
}

.dark .neutral .light {
    color: #333333
}

/* ========= background ============== */
.dark .background .default {
    color: #101111
}

.dark .background .alt {
    color: #1C1C22
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< LIGHT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ========= primary ============== */

.dark .primary .dark {
    color: #006B7D;
}

.dark .primary .main {
    color: #00D5FA;
}

.dark .primary .light {
    color: #E6FBFF;
}

/* ========= neutral - for fonts and headings ============== */
.dark .neutral .dark {
    color: #333333
}

.dark .neutral .main {
    color: #666666
}

.dark .neutral .mediumMain {
    color: #858585
}

.dark .neutral .medium {
    color: #A3A3A3
}

.dark .neutral .light {
    color: #F0F0F0
}

/* ========= background ============== */
.dark .background .default {
    /* color: #F6F6F6; */
    color: #FFFEFE;
}

.dark .background .alt {
    /* color: #FFFFFF */
    color: #F9F9FB;
}



/* colour theme with orange shade */
:root {
    --card-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
    --white: #fff;
    --background-gray: #f5f6f6;
    --darkgray: #333;
    --background-darkgray: #333;
    --chevron-color: #9b9b9b;
    --light-gray: #f7f7f7;
    --border-gray: #c8cdd4;
    --border: #c8cdd4;
    --black: #212b36;
    --purple: #824179;
    --thin-purple: #f0ecff;
    --purple-hover: #5c2a5a;
    --magenta: #dd2f72;
    --cyan: #2bbfb8;
    --blue: #3f77ba;
    --light-periwinkle: #f8f6ff;
    --violet: #8e47bb;
    --orange: #ff841f;
    --red: #f54b5e;
    --teal: #48d2a0;
    --gray: #888;
    --orange-dark: #ee6226;
    --text-gray: #333;
    --text-lightgray: #979797;
    --text-gray2: #595959;
    --text-primary: #212b36;
    --text-gray3: #6c6c6c;
    --text-darkgray: #333;
    --text-darkgray2: #3f3f3f;
    --gray1: #8c8c8c;
    --thin-gray: rgba(0, 0, 0, 0.1);
}