/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< DARK >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

:root {
    background-color: #FFFEFE;
    background-color: #FBF9FA;
    background-color: #F0F0F0;
    background-color: #f1f1f1;
    background-color: #C2C2C2;
    background-color: #A3A3A3;
    background-color: #858585;
    background-color: #666666;
    background-color: #4D4D4D;
    background-color: #333333;
    background-color: #1A1A1A;
    background-color: #0A0A0A;
    background-color: #000000;
}

:primay {
    background-color: #E6FBFF;
    background-color: #CCF7FE;
    background-color: #99EEFD;
    background-color: #66E6FC;
    background-color: #33DDFB;
    background-color: #00D5FA;
    background-color: #00A0BC;
    background-color: #006B7D;
    background-color: #00353F;
    background-color: #001519;
}

/* ========= primary ============== */

.dark .primary .dark {
    color: #560DE7;
}

.dark .primary .main {
    color: rgb(138, 12, 122);
    background: linear-gradient(90deg, rgba(147, 68, 221, 1) 0%, rgba(177, 46, 161, 1) 41%, rgba(122, 18, 133, 1) 100%);
}

.dark .primary .light {
    color: #9970E8;
}

/* ========= neutral - for fonts and headings ============== */
.dark .neutral .dark {
    color: #E0E0E0
}

.dark .neutral .main {
    color: #C2C2C2
}

.dark .neutral .mediumMain {
    color: #A3A3A3
}

.dark .neutral .medium {
    color: #858585
}

.dark .neutral .light {
    color: #333333
}

/* ========= background ============== */
.dark .background .default {
    color: #101111
}

.dark .background .alt {
    color: #1C1C22
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< LIGHT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ========= primary ============== */

.dark .primary .dark {
    color: #006B7D;
}

.dark .primary .main {
    color: #00D5FA;
}

.dark .primary .light {
    color: #E6FBFF;
}

/* ========= neutral - for fonts and headings ============== */
.dark .neutral .dark {
    color: #333333
}

.dark .neutral .main {
    color: #666666
}

.dark .neutral .mediumMain {
    color: #858585
}

.dark .neutral .medium {
    color: #A3A3A3
}

.dark .neutral .light {
    color: #F0F0F0
}

/* ========= background ============== */
.dark .background .default {
    /* color: #F6F6F6; */
    color: #FFFEFE;
}

.dark .background .alt {
    /* color: #FFFFFF */
    color: #F9F9FB;
}



/* colour theme with orange shade */
:root {
    --card-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
    --white: #fff;
    --background-gray: #f5f6f6;
    --darkgray: #333;
    --background-darkgray: #333;
    --chevron-color: #9b9b9b;
    --light-gray: #f7f7f7;
    --border-gray: #c8cdd4;
    --border: #c8cdd4;
    --black: #212b36;
    --purple: #824179;
    --thin-purple: #f0ecff;
    --purple-hover: #5c2a5a;
    --magenta: #dd2f72;
    --cyan: #2bbfb8;
    --blue: #3f77ba;
    --light-periwinkle: #f8f6ff;
    --violet: #8e47bb;
    --orange: #ff841f;
    --red: #f54b5e;
    --teal: #48d2a0;
    --gray: #888;
    --orange-dark: #ee6226;
    --text-gray: #333;
    --text-lightgray: #979797;
    --text-gray2: #595959;
    --text-primary: #212b36;
    --text-gray3: #6c6c6c;
    --text-darkgray: #333;
    --text-darkgray2: #3f3f3f;
    --gray1: #8c8c8c;
    --thin-gray: rgba(0, 0, 0, 0.1);
}





/* -------------------------------------- COLOR THEMES -------------------------------- */

.black {
    light100: #3D3D3D;
    light200: #333333;
    light300: #292929;
    dark100: #1F1F1F;
    dark200: #141414;
    dark300: #0a0a0a;
    main: #000000;
}

.white {
    light100: #f5f5f5;
    light200: #EBEBEB;
    light300: #e0e0e0;
    dark100: #d6d6d6;
    dark200: #CCCCCC;
    dark300: #c2c2c2;
    main:#FFFFFF
}

.var5 {
    light100: #49b4cd;
    light200: #7ec9db;
    light300: #b3dee9;
    dark100: #008ca4;
    dark200: #007287;
    dark300: #00576a;
    main: #0f9eb7;
}

.var4 {
    light100: #f9f3ff;
    light200: #fdf7ff;
    light300: #ffffff;
    dark100: #ccb7f2;
    dark200: #aa8ae5;
    dark300: #885dc9;
    main: #eed5fc;

}

.var3 {
    light100: #ffe1db;
    light200: #ffe8e4;
    light300: #ffeeee;
    dark100: #e09c95;
    dark200: #c4776d;
    dark300: #a95246;
    main: #facac2
}

.var2 {
    light100: #f1ffe8;
    light200: #f5fff0;
    light300: #f9fff8;
    dark100: #c0e5b5;
    dark200: #9bc18f;
    dark300: #75ad6a;
    main: #dffbd0
}

.var1 {
    light100: #c4caff;
    light200: #eaf1ff;
    light300: #ffffff;
    dark100: #7983c6;
    dark200: #5b64a8;
    dark300: #444b8c;
    main: #9ca5f7
}