@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lora:wght@400;500;600;700&family=Montserrat:wght@400;500;600&family=Poppins:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700&family=Rubik:wght@400;700&display=swap');
@import 'react-toastify/dist/ReactToastify.css';
* {
    font-family: 'Roboto', sans-serif;
}

html,
body,
#root,
.app {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}